.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

.page-item {
    margin: 0 5px;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #01ce7c;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.page-item.active {
    background-color: #01ce7c;
    color: #fff !important;
}

.page-item.active > a {
    color: #fff !important;
}

.page-item > a:hover{
    color: #fff !important;
}

.page-item:hover {
    background-color: #01ce7c;
    color: #fff !important;
}

.pagination{
    overflow-x: auto;
}